/* Responsive Media Start */
@media only screen and (max-width: 900px) {
  #hamburger {
    display: block;
    font-size: 30px;
    padding: 30px 50px;
    opacity: 1;
    color: white;
  }

  .nav {
  
    max-height: 0;
    width: 80%;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: #222222;
    transition: 0.4s linear;
    margin: 0 auto;
   

  }

  .nav.show {
    transition: max-height 0.4s linear;
    max-height: 650px;
    opacity: 1;
    

  }

  .nav.show ul {
    opacity: 1;

  }

  .nav ul {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 50px auto 0 auto;
    opacity: 0;
  }

  .nav ul li {
    display: block;
    margin: auto;
  }

  .nav ul li a {
    color: white;
  }

  .nav ul li a:hover {
    cursor: pointer;
    box-shadow: inset 0px 2px 4px rgba(0, 255, 255, 0.3),
      inset 0px 4px 8px rgba(0, 255, 255, 0.3),
      inset 0px 8px 16px rgba(0, 255, 255, 0.3);
    transition: 0.2s;
  }
}

@media only screen and (max-width: 1200px) {
  .image img {
    height: 400px;

    animation: bounce-in 2s ease;
  }

  .name h1 {
    font-size: 1.5rem;
  }

  .name h3 {
    font-size: 0.9rem;
  }

  #para1,
  #para2,
  #para3 p {
    font-size: 15px;
  }

  #para3 p {
    padding: 50px 10px;
  }

  .section-title {
    font-size: 2.5em;
  }

  .section-description {
    font-size: 1.5em;
  }
}

/* tablets and larger mobile devices */

@media only screen and (max-width: 884px) {
  .image img {
    height: 350px;
  }

  .name h1 {
    font-size: 1.2rem;
  }

  .name h3 {
    font-size: 0.8rem;
    letter-spacing: 0;
  }

  #para1 p,
  #para2 p,
  #para3 p {
    font-size: 12px;
    /* width: fit-content; */
  }

  #para3 p {
    padding: 30px 10px;
  }

  #p1 img,
  #p2 img,
  #p3 img {
    height: 300px;
    width: 50%;
    margin-top: 30px;
  }

  .section-title {
    font-size: 2em;
  }

  .section-description {
    font-size: 1em;
  }
}

@media only screen and (max-width: 768px) {
  #content {
    flex-direction: column;
    align-items: center;
  }
  .name h3 {
    margin-top: -20px;
    font-size: 0.6rem;
  }

  .major-project,
  .minor-project,
  .web-project {
    flex-direction: column-reverse;
    align-items: center;
    padding: auto;
  }
  .skills {
    margin: 50px 30px;
  }

  #para1,
  #para2,
  #para3 {
    max-width: max-content;
    text-align: center;
  }

  #para1 p,
  #para2 p,
  #para3 p {
    width: 250px;
    height: 300px;
    margin-left: -50px;
  }

  #p1 img,
  #p2 img,
  #p3 img {
  
    width: 250px;
    height: auto;
    
  }
}

@media only screen and (max-width: 400px) {
  #para1 p,
  #para2 p,
  #para3 p {
    width: 250px;
    height: 300px;
    padding: 0;
    height: auto;
  }

  .major-project,
  .minor-project,
  .web-project {
    padding: 0;
  }















}

@media only screen and (max-width: 366px) {

  #hamburger {
   
    font-size: 20px;
    padding: 40px 10px;
   
  }

  .logo {
    padding: 0 25px;
    
    font-size: 30px;

  }
  .image {
    padding: 0;
  }


}


